# Default ignored files
/../../First Project /.idea/shelf/
/../../First Project /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../First Project /.idea/httpRequests/
# Datasource local storage ignored files
/../../First Project /.idea/dataSources/
/../../First Project /.idea/dataSources.local.xml
